body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('file://C:/Users/Inconnu/Desktop/GestionContact/images/background.jpg');
    background-size: cover;
}

form {
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond semi-transparente pour le formulaire */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    max-width: 400px;
    width: 100%;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}
